<!DOCTYPE html>
<html lang="it">
<body>
<div class="center bgphoto column">
    <h1 class="textshadow">Login</h1>
    <div class="container">
        <div class="column">
        
        <form action="../Ristorante/login.php" method="POST">
            <label for="cellulare">Cellulare</label>
            <input type="text" id="cellulare" name="cellulare" required>
            <button type="submit" class="btn">Accedi</button>
        </form>
        <h4>Autenticazione a 2 fattori presto disponibile ;)</h4>
    </div></div></div>
</body>
</html>