<!DOCTYPE html>
    <html lang="it">
    <body>
        <div class="center bgphoto column">
            <h1 class="textshadow">Sistema di Gestione di un Ristorante</h1>
            <div class="container">
                <div class="column">
                    <h3>Benvenuto</h3>
                        <div>
                            <a href="../Ristorante/login.php" class="btn">Login</a>
                            <a href="../Ristorante/register.php" class="btn">Registrati</a>
                            <!--<a href="../Ristorante/menu.php" class="btn">Menu</a>-->
                        </div>
                    </div>    
            </div>
            
        </div>
    </body>
</html>